.root{
    -fx-background-color:"black";
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill:"blue";
    -fx-alignment: center;
}

#TitleLabel{
    -fx-font-size: 100;
}